/*div, img, .menu-items{
    border: red 1px dashed;
}*/

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* all header related stuff */

.header{
    display: grid;
    grid-template-columns: 1fr  7fr 1fr;
    border-bottom: 1.5px solid black;
    width: 100%;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.grid-item{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.menu-items-header{
    display: grid;
    margin-bottom: 0.25rem;
}

.menu-items-header ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.menu-items-header li a{
   display: grid;
   margin-left: 0.3rem;
   margin-right: 0.3rem;
   margin-bottom: 0.3rem;
   font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}

.menu-items-header li a:hover{
    font-weight: bold;
    transition: all 0.5s smooth;
}

.social-media-icons-header{
    color: black;
    margin-right: 1rem;
}

.social-media-icons-header ul{
    display: flex;
    align-items: center;
}

.social-media-icons-header ul li a{
    margin: 6px;
    font-size: 17px;
}

.favicons{
    height: 40px;
    width: 40px;
    border-radius: 999px;
}

/* hide hamburger menu */
.navigation{
    display: none;
}

@media(max-width:950px){
    .favicons{
        height: 30px;
        width: 30px;
        border-radius: 999px;
    }
    .header{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 7fr 1fr;
    }
    .logo-header img{
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 300px;
    }
    .logo-header{
        grid-area: 1 / 1 / 1 / 9;
    }
}

@media(max-width:800px){
    .header{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;
    }
    .header img{
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 300px;
    }
    .logo-header{
        font-weight: bold;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
    .menu-items-header{
        display: none;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        */
    }
    .menu-items-header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .menu-items{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-media-icons-header{
        display: none;
        margin: 2vw 0 2vw 0;
    }

    /* hamburger menu */

    .navigation{
        display: block;
    }
    
    /* Hamburger */
    .hamburger1 {
      height: 45px;
      display: -ms-grid;
      margin-bottom: 1rem;
      margin-top: 2rem;
      margin-right: 1rem;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      z-index: 120;
    }
    
    .hamburger1 div {
      background-color: rgb(61, 61, 61);
      position: relative;
      width: 30px;
      height: 5px;
      margin-top: 7px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    
    #toggle1 {
      display: none;
    }
    
    #toggle1:checked + .hamburger1 .top {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 22.5px;
    }
    
    #toggle1:checked + .hamburger1 .meat {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      margin-top: -5px;
    }
    
    #toggle1:checked + .hamburger1 .bottom {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    
    #toggle1:checked ~ .menu1 {
      height: 300px;
    }
    
    
    /* Menu */
    .menu1 {
      top: 0vh;
      margin: 20px;
      display: -ms-grid;
      display: grid;
      padding: 0;
      list-style: none;
      overflow: hidden;
      clear: both;
      width: auto;
      height: 0px;
      transition: height .4s ease;
      z-index: 120;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .menu1 a:first-child {
    }
    
    .menu1 a:last-child {
    }
    
    .link1 {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 700;
      text-decoration: none;
      color: black;
    }
    
    .link1:hover {
      background-color: #fff;
      color: rgb(107, 107, 107);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
}

@media(max-width:400px){
    /*  First Component  */
    
    .logo-header{
        font-size: 5vw;
    }
    .menu-items-header ul li a{
        font-size: 5vw;
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    /* Hamburger */
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

/* end - header related */




/*  First Component  */

.first-component{
    min-height: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    margin: 2rem;
}

.content-first-component{
}  

.content-first-component h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.content-first-component p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
 .content-first-component button{
     border: none;
     padding: 20px 50px ;
     font-size: 17px;
     background-color: black;
     color: white;
     cursor: pointer;
     letter-spacing: 0.05rem;
     border-radius: 5px;

 }

 .content-first-component button:hover{
     background-color: rgb(138, 134, 134);
     color: black;
     transition: all 0.2s ease;
     
 }

 /*   Break Component    */

.second-component{
     background-color: white;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     align-items: center;
     gap: 5rem;
     margin: 2rem;
 }

.content-second-component{
    margin-right: 5rem;    
}

.content-second-component h4{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.content-second-component h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
 .content-second-component p{
    margin-bottom: 1rem;
 }

 .btn-second-component{
    display: flex;
    flex-direction: row;
 }

 .btn-second-component button{
    border: none;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 0.05rem;
    border-radius: 5px;
    margin-right: 1rem;
    height: 4rem;
    min-width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
 }


 .btn-second-component .btn1{
     background-color: black;
     color: white;
 }

 .btn-second-component .btn1:hover{
     background-color: rgb(138, 134, 134);
     color: black;
     transition: all 0.2s ease;
 }
 
 .btn-second-component .btn2{
     background: rgb(196, 192, 192);
     color: black;
 }

 .btn-second-component .btn2:hover{
     background-color: white;
     color: black;
     border: 2px rgb(196,192,192) solid;
     transition: all 0.2s ease;
 }



 /*      Third Component    */

 .third-component{
     background-color: white;
     display: grid;
     grid-template-columns: 0.5fr 1fr;
     justify-items: center;
     align-items: center;
     gap: 2.5rem;
     margin-left: 5rem;
     overflow-x: scroll;
 }

 .content-third-component{
 }

 .content-third-component h4{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    
 }

 .content-third-component h1{
     font-size: 3rem;
     font-weight: 800;
     letter-spacing: 1.5px;
 }

 .card-grid{
     display: flex;
 }

 .card{
    background: black;
    color: rgb(255, 255, 255);
    border: none;
    min-width: auto;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,.2);
    margin: 1rem;
    padding: 2rem;
 }

 .card2{
    background: rgb(196, 193, 193);
    color:black;
    border: none;
    min-width: auto;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,.2);
    margin: 1rem;
    padding: 2rem;
 }

 .card-img{
     overflow: hidden;
 }

 .card-img img{
     display: block;
     width: 100%;
     margin-bottom: 2rem;    
     aspect-ratio: 16/12;
     object-fit: cover;
     object-position: center;
 }

.card-header{
     font-size: 1.5rem;
     margin-bottom: 2rem;
     font-weight: 900;
 }

.card-body{
     font-size: .9rem;
     margin-bottom: 3rem;
 }

.card-footer{
     margin-top: 1rem;
     margin-bottom: 4rem;
 }

.card-footer .learn-more-btn{
     padding: .8em 2.3em;
     border: none;
     font-size: 1rem;
     cursor: pointer;
     border-radius: 0.2rem;
     background: rgb(182, 180, 180);

 }
 .learn-more-btn:hover, .learn-more-btn:focus{
     background: rgb(255, 255, 255) ;
     transition: all 0.3s ease;
 }


 /*     Fourth Component     */
 
 .fourth-component{
     background-color: white;
     min-height: 750px ;
 }
 
  
 .fourth-component-heading{
     text-align: center;
     font-size: 55px;
     font-weight: 900;


 }

.team-card-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
}

 .team-card{
     max-width: 350px;
     background-color: white;
     padding: 1.5rem ;
     text-align: center;
     min-height: 400px;
 }

 .team-card2{
    max-width: 350px;
    background-color: white;
    padding: 1.5rem ;
    text-align: center;
    min-height: 400px;
}

.team-card3{
    max-width: 350px;
    background-color: white;
    padding: 1.5rem ;
    text-align: center;
    min-height: 400px;
}

 .team-card-img{
    overflow: hidden;
    margin-bottom: 20px;  
    padding-top: 2rem;
    margin-bottom: 3.5rem;
}

.team-card-img img{
    display: block;
    width: 100%;
    border-radius: 300%;
    aspect-ratio: 16/14;
    object-fit: cover;
    object-position: center;
}
 

 .team-card .team-card-position{
     margin: .5rem;
     
     color: grey;
     font-weight: 300;
 }

 .team-card-name h2{
     font-weight: bold;
     margin-bottom: .5rem;
     font-size: 2.5rem;
 }
 .team-card-body{
     color: grey;
     letter-spacing: 1px;
 }


 /*   Fifth Component  */

 .fifth-component{
     min-height: 750px;
     background: black;
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 2rem;
     justify-items: center;
     align-items: center;
 }
 
 .content-fifth-component{
     margin: 5rem 0rem 0rem 5rem;
 }

 .content-fifth-component h1{
    font-size: 4rem;
    color: white;
    line-height: 4.5rem;
    
 }
 .content-fifth-component p{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .input-fifth-component{
    min-height: 30px;
    max-width: 450px;
    margin: 2rem 0 2rem 0;
    background: black;
 }

 .input-data{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 .input-fifth-component .input-data{
    color: rgb(138, 134, 134);
 }

 .input-fifth-component .input-data input{
    border: none;
    border-bottom: 1.2px solid white;
    background: black;
    color: white;
    font-size: 1rem;
    outline: none;
 }
 .input-data input:focus ~ label,
 .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    
 }

 .input-fifth-component .input-data label{
    bottom: 10px;
    left: 0px;
    pointer-events: none;
    transition: all 0.3s ease;
 }

 .content-fifth-component p{
    color: white;
 }

 .content-fifth-component .forget-password {
    color: white;
    text-align: start;
    margin-bottom: 4rem;
 }
 .content-fifth-component .forget-password a{
    color: white;
 }

 .content-fifth-component button{
    padding: 1rem;
    width: 50%;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
 }

 .new-acc{
    margin: 1rem 0rem 0rem 0.5rem;
 }

 .new-acc a{
    color: white;
    font-size: 1rem;
 }

 .fifth-component-img{
    margin-top: 2rem;
 }

 /*  Sixth Component   */

 .sixth-component {
      min-height: 700px;
 }

 .sixth-component h1{
    margin: 9rem 4rem ;
    font-size: 65px;
 }

 .sixth-component-card-mega-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
 }
 .sixth-component-card1{
    background: black;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 1rem;
 }

 .sixth-component-card1 h1{
    margin: 4rem .8rem;
    margin-bottom: 2rem;
 }

 .sixth-component-card1 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .8rem;
    margin-bottom: 2rem;
 }

 .sixth-component-card1 p{
    margin-left: .8rem;
    font-size: 14px;
    margin-bottom: 2rem;
 }

 
 .sixth-component-card1 button{
    padding: 10px;
    width: 50%;
    margin-left: .8rem;
    margin-bottom: 4.5rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
 }


 .sixth-component-card2{
    background: black;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 1rem;
 }
 
 .sixth-component-card2 h1{
    margin: 4rem .8rem;
    margin-bottom: 2rem;
 }

 .sixth-component-card2 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .8rem;
    margin-bottom: 2rem;


 }



 .sixth-component-card2 p{
    margin-left: .8rem;
    font-size: 14px;
    margin-bottom: 2rem;

 }

 
 .sixth-component-card2 button{
    padding: 10px;
    width: 50%;
    margin-left: .8rem;
    margin-bottom: 4.5rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
 }

 .sixth-component-card3{
    background: black;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 1rem;
 }
 
 .sixth-component-card3 h1{
    margin: 4rem .8rem;
    margin-bottom: 2rem;
 }

 .sixth-component-card3 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .8rem;
    margin-bottom: 2rem;
 }



 .sixth-component-card3 p{
    margin-left: .8rem;
    font-size: 14px;
    margin-bottom: 2rem;
 }

 
 .sixth-component-card3 button{
    padding: 10px;
    width: 50%;
    margin-left: .8rem;
    margin-bottom: 4.5rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
 }
 


 /*    Seventh Component    */

 .seventh-component{
    background-color: white;
    min-height: 1000px;
 }

 .seventh-component h1{
    text-align: center;
    font-size: 60px;
 }

 .seventh-component-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 4rem;
 }

 
.seventh-component-card1{
    background-color: rgb(190, 186, 186);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 5rem 2.5rem 5rem 5rem;
}

.seventh-component-card2{
    background-color: rgb(190, 186, 186);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 5rem 5rem 5rem 2.5rem;
}

.seventh-component-card3{
    background-color: rgb(190, 186, 186);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 5rem 2.5rem 5rem 5rem;
}

.seventh-component-card4{
    background-color: rgb(190, 186, 186);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 5rem 5rem 5rem 2.5rem;
}

.seventh-component-card h2{
    font-size: 19px;
    margin: 5rem 1rem;
    margin-bottom: 2rem;
}

.seventh-component-card p{
    font-size: 15px;
    padding: 1rem;
}

.seventh-component-card button{
    padding: 14px;
    width: 40%;
    margin: 2rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.seventh-component-card button:hover{
     color: black;
     background: rgb(190, 186, 186);
     border: 2px solid black;
     transition: all 0.2s ease;
}

.see-more-btn{
    text-align: center;
    padding: 4.3rem;
}
.see-more-btn button{
    padding: 1rem;
    width: 200px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn button:hover{
    background: white;
    color: black;
    border: 2px black solid;
    transition: all 0.2s ease;
}


/*    Eighth Component      */



.eighth-component{
    min-height: 1000px;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-items: center;
    align-items: center;
}


.eighth-component-img{
}

.content-eighth-component{
    margin-top: 4rem;
    margin-right: 2rem;
}

.content-eighth-component h3{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.content-eighth-component h1{
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: bold;
}
.content-eighth-component p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.input-fields{
    display:flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.input-fields input{
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 1rem;
  margin: 2rem 2rem 0rem 0rem;
}

.msg-input-field{
  border: 1px solid white;
  background-color: black;
  color: white;
  height: 200px;
  margin-bottom: 2rem;
}


.content-eighth-component button{
    padding: 1rem 2rem;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5rem; 
}


/* footer  */

.footer{
    background-color: whitesmoke;
}

.grid-container{
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}

.company-footer{
    margin-top: 4rem; 
    margin-right: 2rem;
}

.company-footer h1{
    margin-bottom: 0.5rem;
}

.company-footer ul li{
    padding: 0.4rem 0rem;
    color: rgb(107, 107, 107);
}

.company-footer .social-media-icons-footer{
    display: flex;
}

.company-footer .social-media-icons-footer li{
   margin-right: 3rem;
}


.menu-footer{
    margin-top: 4rem;
    justify-content: start;
    align-items: start;
    text-align: center;
}

.menu-footer h1{
    margin-bottom: 0.5rem;
}

.menu-footer ul li{
    padding: 0.4rem 0rem;
}

.menu-footer ul li a{
    color: rgb(107, 107, 107);

}

.newsletter-footer{
    margin-top: 4rem;
    margin-left: 2rem;
    display: grid;
    justify-content: center;
    margin-bottom: 4rem;
}

.newsletter-footer h1{
    margin-bottom: 0.5rem;
}

.newsletter-footer p{
    margin-bottom: 1rem;
    color: rgb(107, 107, 107);
}

.newsletter-footer input{
    padding: 1rem;
    border-color: grey;
    max-width: 70%;
    border-radius: 5px;
}

.newsletter-footer .footer-input-btn{
    
    display: flex;
    flex-direction: row;
}

.footer-input-btn button{
    
    background-color: black;
    color: white;
    padding: 1rem 1.3rem;
    cursor: pointer;
    border-radius: 3px;
}

@media(max-width:800px){
    /* First comopnent */

    .first-component{
        min-height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .content-first-component h1{
        margin-bottom: 1rem;
    }

    .content-first-component p{
        margin-bottom: 2rem;
    }

    /* Second component */

    .second-component{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .content-second-component{
        margin: 0 2rem 0 2rem;
    }

    .btn-second-component{
       display: flex;
       flex-direction: row;
    }

    /* Third component */

    .third-component{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem;
        overflow: visible;
    }
    .card-grid{
        display: flex;
        flex-direction: column;
    }
    /* Fourth component */
    .team-card-grid{
        margin: 0rem 0rem 0rem 0rem;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr ;
        justify-items: center;
        align-items: center;
    }
    /* Fifth component */
    .fifth-component{
        min-height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 2rem;
        justify-items: center;
        align-items: center;
    }
    .content-fifth-component{
        margin: 1rem;
        grid-row-end: -1;
    }
    /* Sixth component */
    .sixth-component-card-mega-grid{
       display: grid;
       grid-template-columns: auto;
       grid-template-rows: repeat(3, 1fr);
       margin: 1rem;
    }
    .sixth-component-card-mega-grid{
        margin: 1rem;
    }
    .sixth-component-card1{
        padding: 1rem;
    }
    .sixth-component-card2{
        padding: 1rem;
    }
    .sixth-component-card3{
        padding: 1rem;
    }
    .sixth-component-card4{
        padding: 1rem;
    }

    /* Seventh Component */

    .seventh-component-card{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
       grid-row-gap: 0rem;
       justify-items: center;
    }
    .seventh-component-card1{
       margin: 2vw;
    }
    .seventh-component-card2{
       margin: 2vw;
    }
    .seventh-component-card3{
       margin: 2vw;
    }
    .seventh-component-card4{
       margin: 2vw;
    }

    /* Eighth component */

    .eighth-component{
        min-height: auto;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .content-eighth-component{
        margin: 0rem 1rem 0rem 1rem;
    }
    .newsletter-footer input{
        width: 20vw;
    }
}

@media(max-width:675px){
    .grid-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: flex-start;

        background-color: whitesmoke;
        border-bottom: 1px solid black;
    }
    .company-footer{
        margin: 5vw; 
        text-align: center;
    }
    
    .company-footer h1{
        margin-bottom: 2.5rem;
    }

    .company-footer .social-media-icons-footer li{
       margin-right: 0rem;
    }
    .social-media-icons-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .social-media-icons-footer li{
        margin: 5vw;
    }
    .menu-footer{
        margin: 5vw;
        text-align: center;
    }
    
    .menu-footer h1{
        margin-bottom: 0rem;
    }
    
    .newsletter-footer{
        margin: 5vw;
    }
    
    .newsletter-footer h1{
        margin-bottom: 1.5rem;
    }
    
    .newsletter-footer p{
        margin-bottom: 2rem;
    }

    .newsletter-footer .footer-input-btn  button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:400px){
    /*  First Component  */
    .first-component{
        min-height: auto;
        background-color: white;
        margin: 2vw;
    }

    .content-first-component{
        margin: 5vw;
    }
    
    .content-first-component h1{
        font-size: 15vw;
    }
    
    .content-first-component p{
        font-size: 4vw;
    }
     .content-first-component button{
         border: none;
         padding: 5vw 10vw ;
         font-size: 5vw;
     }
    /* Second component */
.second-component{
     margin: 2vw;
 }

.content-second-component{
    margin: 3vw;    
}

.content-second-component h4{
    font-size: 10vw;
}
.content-second-component h1{
    font-size: 15vw;
    margin-bottom: 5vw;
}
 .content-second-component p{
    margin-bottom: 5vw;
 }
 .btn-second-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
 }
 .btn-second-component button{
     font-size: 4vw;
    margin-right: 0rem;
    height: 8vh;
    width: 5vw;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 1vw;
    padding-right: 1vw;
 }

 /* Third component */
 .content-third-component h4{
    font-size: 10vw;
 }

 .card-grid{
     max-width: 90vw;
     margin: 0;
 }

 .card{
     padding: 5vw;
     margin: 0vw;
 }

 .content-third-component h1{
     font-size: 15vw;
 }

 .card-img{
     overflow: visible;
 }

 .card-img img{
     display: flex;
     width: 50vw;
 }

.card-header{
     font-size: 15vw;
 }

.card-body{
     font-size: 5vw;
     width: auto;
     height: auto;
 }

.card-footer .learn-more-btn{
     font-size: 4vw;
 }

 .card2{
     padding: 5vw;
     margin: 0vw;
 }

    /* Fifth component */
 .content-fifth-component h1{
    font-size: 15vw;
    color: white;
    line-height: 4.5rem;
    
 }
 .content-fifth-component p{
    font-size: 5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .input-fifth-component .input-data input{
    font-size: 1rem;
 }
 .input-data input:focus ~ label,
 .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 2vw;
    
 }

 .input-fifth-component .input-data label{
    bottom: 10px;
    left: 0px;
 }

    /* Sixth Component */
 .sixth-component {
      min-height: auto;
 }

 .sixth-component-card-mega-grid{
     margin: 2vw;
 }

 .sixth-component h1{
    margin: 10vw;
    font-size: 15vw;
 }

 .sixth-component-card1{
    background: black;
    margin: 1vw;
 }

 .sixth-component-card1 h1{
    margin: 10vw 1vw;
    margin-bottom: 10vw;
 }

 .sixth-component-card1 h3{
    margin-left: 2vw;
    margin-bottom: 2vh;
 }

 .sixth-component-card1 p{
    margin-left: 2vw;
    font-size: 5vw;
    margin-bottom: 5vw;
 }

 
 .sixth-component-card1 button{
    padding: 5vw;
    width: 50vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
 }

 .sixth-component-card2{
    background: black;
    margin: 1vw;
 }

 .sixth-component-card2 h1{
    margin: 10vw 1vw;
    margin-bottom: 10vw;
 }

 .sixth-component-card2 h3{
    margin-left: 2vw;
    margin-bottom: 2vh;
 }

 .sixth-component-card2 p{
    margin-left: 2vw;
    font-size: 5vw;
    margin-bottom: 5vw;
 }

 
 .sixth-component-card2 button{
    padding: 5vw;
    width: 50vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
 }

 .sixth-component-card3{
    background: black;
    margin: 1vw;
 }

 .sixth-component-card3 h1{
    margin: 10vw 1vw;
    margin-bottom: 10vw;
 }

 .sixth-component-card3 h3{
    margin-left: 2vw;
    margin-bottom: 2vh;
 }

 .sixth-component-card3 p{
    margin-left: 2vw;
    font-size: 5vw;
    margin-bottom: 5vw;
 }

 
 .sixth-component-card3 button{
    padding: 5vw;
    width: 50vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
 }

    /* Seventh comopnent */

    seventh-component{
        min-height: auto;
    }

    seventh-component-card{
        margin: 2vw;
    }

    /* Eighth component */

    .eighth-component{
        min-height: auto;
    }
    .eighth-component-img{
        margin: 0%;
    }
    .content-eighth-component{
        margin: 5vw;
    }
    .content-eighth-component h3{
        font-size: 12vw;
    }
    
    .content-eighth-component h1{
        font-size: 15vw;
    }
    .content-eighth-component p{
        font-size: 4vw;
    }
    .input-fields input{
      color: white;
      padding: 5vw;
    }
    .see-more-btn{
        padding: 4.3vw;
    }
    .see-more-btn button{
        padding: 5vw;
        width: 50vw;
        font-size: 7vw;
    }
    .grid-container{
        margin: 4vw;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        margin-bottom: 20vw;
        border-bottom: 1px solid black;
        flex-wrap: wrap;
    }
    .newsletter-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0vw;
        margin-top: 4vw;
        margin-bottom: 5vw;
    }
    
    .newsletter-footer h1{
        margin-bottom: 10vw;
    }
    
    .newsletter-footer p{
        margin-bottom: 1rem;
    }
    
    .newsletter-footer input{
        border-color: grey;
        max-width: 50vw;
    }
}
